#splash_container
  %h1 
    Hello...
    %br
    My name is Tim Carlock.
  %p
    I'm a former midwesterner who relocated to the Bay Area about 10 years later than I should have. I'm here now and that's what counts.
  %p
    I'm passionate about technology, entreprenuership and building elegant, useful software. I've worked at a couple of large corporations, I ran a product group for a small business, and I started my own software company. I've worked on a number of projects from portfolio-management software to a lead-generation for small service-based businesses.
  %p
    Click above to see some of my projects.