<h3>{{project.title}} // {{project.primary_url}}</h3>
<p>{{project.details}}</p>
<div class="row">
  <div class="span8">
    <div id="image_gallery" class="widget" ng-show="project.images.length">
      <img ng-src="/assets/screen_caps/{{image.file_path}}" ng-repeat="image in project.images" title="{{image.title}}">
    </div>
  </div>
  <div class="span4">
    <div id="tech_tags" class="widget tag-list-widget clearfix">
      <h4>Technologies</h4>
      <ul>
        <li class="tag" ng-repeat="tag in project.skill_taggings">{{tag}}</li>
      </ul>
    </div>
    <div id="skill_tags" class="widget tag-list-widget clearfix">
      <h4>Skills</h4>
      <ul>
        <li class="tag" ng-repeat="tag in project.tech_taggings">{{tag}}</li>
      </ul>
    </div>
  </div>
</div>