/* Override bootstrap defaults; will be respected by bootstrap-sass */

/* Misc defaults */
$baseFontSize:14px;
$baseFontFamily:'Open Sans', sans-serif;
$navbarHeight:60px;
$bodyPaddingTop:25px;
$widgetPadding:15px;
$headingsColor:#fff;
$textColor:#7F7F7F;
$infoText:#7F7F7F;
$tagTextColor:#fff;
$headingsColor:#444;
$tagBGColor:#D9574C;
$tagBorderColor:#BD362F #BD362F #D9574C #D9574C;
$elementColor:#BD362F;
$borderColor:#3A3D4F;