/* Override bootstrap defaults; will be respected by bootstrap-sass */

/* Global Bootstrap settings */
$link-color: #eb374b;
$link-colorHover: #eb374b;
$brand-primary: #eb374b;
$font-size-base: 15px;
$font-family-sans-serif: "proxima-nova", Lato, sans-serif;
$bodyFontWeight: 300;
$headings-font-weight: 300;
$navbar-height: 60px;

/* Misc defaults */
$bodyPaddingTop:35px;
$widgetPadding:15px;
$textColor:#7F7F7F;
$infoText:#7F7F7F;
$tagTextColor:#fff;
$headingsColor:#555;
$elementColor:#BD362F;
$borderColor:#3A3D4F;
$linkColor: #eb374b;
